:root {
  /* Define custom properties for font families */
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black); /* Set text-color to color-black */
  
  /* Define font families */
  --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body,
a {
  color: var(--text-color); /* Set foreground color to text-color */
  font-family: var(--font-family-base); /* Set body font family to font-family-base */
}

.visually-hidden {
  display: none; /* Set display to none for elements with the class visually-hidden */
}

.card-category,
.section-tagline {
  color: var(--color-primary); /* Reset color to color-primary */
}

/* Targeting all heading tags from h1 to h6 */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title); /* Set font-family for all heading levels to font-family-title */
}
